.projectDisp{
	background-color: lightgray;
	position: relative;
	height: :900px;
	border: 1px solid black;
	margin: 10px;
	padding: 1em;


}

.projectNames{
	color: darkblue;
	font-family: Arial, Helvetica, sans-serif;
	position: relative;
	width: 300px;
}

.projectTytle{
	position: relative;
	left:0;
	font-size: 40px;
	width: 300px;
	padding: 5px;
}

.projectDesc{
	color: dodgerblue;
	position: relative;
	left:0;
	size: 10px;
	padding: 5px;

}

.grantsBar{
	background-color: white;
	position: absolute;
	width:300px;
	height: 70px;
	left: 400px;
	top:20px;
	width: 65%;
	border: 1px solid black;
}

.grantMark{
	position: absolote;
	height: 100%;
	width:0;
	float:left;
}
