#top{
	height: 23%;
	padding-top:0.1%;
}

#title{
	float:left;
	padding-left:10%;
	height: 70%;
	width: auto;
}

#theAngels{
	float: left;
	width: 40%;
	padding-left: 12%;
	align-content: center;
	padding-top:1%;
	
}

.angels{
	float:left;
	vertical-align: middle;
}

.angelImage{
	width: 70px;
	height: 70px;
	border-radius: 50%;
	border: 3px solid;
	margin: 3px;	
}

.names{
	color: white;
	text-align: center;
	font-size: 16px;
	font-family: 'PT Sans', sans-serif;
}

#rankedProjects{
	clear:both;
	padding-left: 10%;	
	width: 85%;
}

.backgroundLines{
	height: 2.4%;
	padding-left: 13%;
}

.theLines{
	float:left;
	width: 6.65%;
	height: 100%;
	border-left: 1px dashed lightgrey;
}


.projectNames{
	color: white;
	text-align: center;
	font-family: 'PT Sans', sans-serif;
	width: 13%;
	float: left;  
	border: 2px solid white;
	height:6%;
}

.projectSum{
	color: white;
	text-align: center;
	font-family: 'PT Sans', sans-serif;
	float:left;
	font-size:40px;
	padding-left:2.3%;
	padding-top:0.3%;
	vertical-align: middle;
}

 .projectTytle{
	vertical-align: middle;
	font-size: 22px;
	padding: 6.5%;
}

.grantsBar{
	background-color: white;
	height: 6%;
	width: 70%;
	border: 1px solid black;
	float: left;
}

.grantMark{
	height: 100%;
	width:0;
	float:left;
}

#logos{
	padding-top: 6%;
	padding-left: 70%;
	width:30%;
	height: auto;
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }