.remainSum{
	position: fixed;
	background-color: #464848;
	top: 0%;
	height:11%;
	width:100%;
	text-align: center;
	font-family:  'Varela Round', sans-serif;
	color: #f37446;
	font-size: 100px;
	padding-left:2%
}

.coins{
	float:left;
	width:13%;
	margin: 2px;
}

.imgCoins{
	padding-top:39%;
	width:90px;
	height: auto;
}

#coins1{
	padding-left: 11%;
}

#sum2{
	float:left;
	width:47%;
	padding-top:5%;
	font-weight: bold;
}

#grantsInvoker{
	clear:both;
	width:100%;
	font-family: 'Varela Round', sans-serif;
	padding-top:23%;
}

.projectsNames{
	color: white;
	text-align: centre;
	align-content: centre;
	padding-top:5%;
	font-size: 40px;
	width:100%;
	float:left;
	
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-webkit-box-align: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;

	-webkit-box-pack: center;
	-moz-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;	
}

.grants{
	clear:both;
	width: 80%;
	height: 10%;
	padding-left: 15.5%;
}

.numbers{
	float:left;
	height: 100%;
	width: 68%;
}

.number{
	width: 100%;
	height: 100%;
}

input{
	height:50%;
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	font-size: 40px;
	border-radius: 5%;
	color: #f37446;
	font-family:  'Varela Round', sans-serif;
	padding-left:35%;
}

.minus{
	float:left;
	height: 50%;
	width: 10%;
}

.plus{
	float:left;
	height: 50%;
	width: 10%;
}

.button{
	height: 7%;
	width: 15%;
	background-color: white;
	position:absolute;
	margin-left: 40%;
	margin-top: 7%;
	font-size: 40px;
	font-family:  'Varela Round', sans-serif;
	margin-bottom: 40%;
	border-radius: 30%;
	color: #f37446;
}
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }

